<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet"> 

</head>
<body>
    <nav class="navbar navbar-default">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="" class="navbar-brand" style="font-family:mr dafoe;font-size:25px">Raven's Blog</a>
      </div>

      <div class="collapse navbar-collapse" id="myNav">
        <ul class="nav navbar-nav">
          <li  class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          {% if user.is_authenticated %}
          <li><a href="{%url 'adduser' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'signin' %}">
            {% if user.is_authenticated %}
            {{user.username}}
            {%else%}
            <span class="glyphicon glyphicon-log-in"></span> Login
            {%endif%}
            </a></li>
            {% if user.is_authenticated %}
            <li><a href="{%url 'userlogout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif%}
          </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>